<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:supportsRtl="true">
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="ca-app-pub-3940256099942544~3347511713"/>-->
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="ca-app-pub-3547026615546708~4982347609"/>-->
        <activity
            android:name="com.codecanyon.percentage.Pages.CalculationActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.codecanyon.percentage.Pages.Contact"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.codecanyon.percentage.Pages.InApp"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.codecanyon.percentage.Pages.Privacy"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.codecanyon.percentage.Pages.ExtraList"
            android:theme="@style/AppTheme" />

        <service
            android:name="com.codecanyon.percentage.Backend.RewardAds"
            android:enabled="true" >
        </service>
<!--        <activity-->
<!--            android:name="com.codecanyon.percentage.Pages.Splash"-->
<!--            android:theme="@style/AppTheme"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity
            android:name="com.codecanyon.percentage.MainActivity"
            android:theme="@style/AppTheme" />
        <receiver android:name="com.codecanyon.percentage.Backend.AlertRecieer"/>


    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>